.check_window{
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
}


.check {
  overflow-y: auto;
}


.check th, .check td {
  white-space: nowrap;
  border: 1px solid #ddd; /* 境界線 */
  padding: 8px;           /* セルの内側に余白 */
  text-align: left;       /* テキストを左揃え */
}

.check th {
  background-color: #f2f2f2; /* ヘッダーの背景色 */
  font-weight: bold;         /* ヘッダーの太字 */
}

.check tr:nth-child(even) {
  background-color: #f9f9f9; /* 偶数行の背景色を変更 */
}
.check_area {
  background-color: white;
}
